In [8]:
SELECT ROGZITETTE, SZALLAS_NEV, CIM
FROM Szallashely
WHERE HELY = '*Balaton*' AND MONTH(ROGZ_IDO) = '3'
ORDER BY CSILLAGOK_SZAMA DESC

In [8]:
SELECT TIPUS, round(AVG(CSILLAGOK_SZAMA), 0)
FROM Szallashely
WHERE TIPUS <> 'panziÃ³'
GROUP BY TIPUS
HAVING AVG(CSILLAGOK_SZAMA) >= 3

TIPUS,(No column name)
Hotel,3

In [ ]:
SELECT