In [8]:
SELECT ROGZITETTE, SZALLAS_NEV, CIM
FROM Szallashely
WHERE HELY = '*Balaton*' AND MONTH(ROGZ_IDO) = '3'
ORDER BY CSILLAGOK_SZAMA DESC

In [9]:
SELECT TIPUS, AVG(CSILLAGOK_SZAMA)
FROM Szallashely

: Msg 8120, Level 16, State 1, Line 1
Column 'Szallashely.TIPUS' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.